{% extends "layout.html" %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block content %}

<section class="hero">
    <div class="hero-overlay"></div>

    <div class="hero-text">
        <h1 class="hero-title">
            Откријте производи<br>
            дизајнирани за секојдневниот живот
        </h1>

        <p class="hero-subtitle">
            Премиум квалитет, брза испорака и безбедно купување - сè на едно место.
        </p>

        <a href="{{ url_for('catalogue') }}" class="btn hero-btn">
            Испорачај сега
        </a>
    </div>
</section>

<section class="features">
    <div class="feature feature-delivery">
        <h3>🚚 Брза Испорака</h3>
        <p>Испорака низ целата земја со опции за експресна испорака и следење во реално време.</p>
    </div>

    <div class="feature feature-payment">
        <h3>💳 Безбедно плаќање</h3>
        <p>Енркиптирани трансакции со доверливи даватели на услуги за плаќање за целосна безбедност.</p>
    </div>

    <div class="feature feature-quality">
        <h3>⭐ Квалитетни продукти</h3>
        <p>Рачно одбрани производи тестирани за издржливост, дизајн и перформанси.</p>
    </div>
</section>

<section class="recommended-section">
    <h2 class="section-title">Препорачани Продукти</h2><br><br>

    <div class="recommended-bar">
        {% for product in recommended %}
        <div class="recommended-item">
            <img src="{{ product.image_url }}" alt="{{ product.name }}">

            <div class="product-info">
                <h3>{{ product.name }}</h3>
                <p class="price">{{ product.price }} $ </p>

                <div class="locked-actions">
                    <a href="{{ url_for('product_detail', product_id=product.id) }}" class="btn small">
                        Видете детали
                    </a>

                    <form action="{{ url_for('cart_add', product_id=product.id) }}" method="post">
        <button class="btn small"
                type="submit"
                {% if product.stock|int <= 0 %}disabled{% endif %}>
            {% if product.stock|int > 0 %}
                Ставете во кошничка
            {% else %}
                Нема во залиха
            {% endif %}
        </button>
</form>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="partners">
    <h2>Наши партнери</h2>

    <div class="partners-grid">
        <div class="partner-card">
            <a href="https://www.hp.com" target="_blank">
                <h3>HP</h3>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/HP_logo_2012.svg/250px-HP_logo_2012.svg.png" alt="HP Logo"><br>
            </a><br>
        </div>
        <div class="partner-card">
            <a href="https://www.dell.com" target="_blank">
                <h3>DELL</h3>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Dell_Logo.svg/960px-Dell_Logo.svg.png" alt="Dell Logo"><br>
            </a><br>
        </div>
        <div class="partner-card">
            <a href="https://www.apple.com" target="_blank">
                <h3>Apple</h3>
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" alt="Apple Logo"><br>
            </a><br>
        </div>
        <div class="partner-card">
            <a href="https://www.razer.com" target="_blank">
                <h3>Razer</h3>
                <img src="https://cdn.freebiesupply.com/logos/large/2x/razer-logo-png-transparent.png" alt="Razer Logo"><br>
            </a><br>
        </div>
        <div class="partner-card">
            <a href="https://www.logitech.com" target="_blank">
                <h3>Logitech</h3>
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Logitech_logo.png" alt="Logitech Logo"><br>
            </a><br>
        </div>
    </div>
</section>


{% endblock %}
