{% extends "layout.html" %}
{% block extra_css %}
<!--<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/product_detail.css') }}">
{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="product-main">
        <img src="{{ product.image_url }}" alt="Product Image">
        <div class="product-info">
            <h1>{{ product.name }}</h1>
            <div class="muted">{{ product.category }} | $ {{ product.price }}</div>
            <div class="stock-status {% if product.stock|int > 0 %}stock-in{% else %}stock-out{% endif %}">
                {% if product.stock|int > 0 %}Во залиха{% else %}Нема во залиха{% endif %}
            </div>
            <form action="{{ url_for('cart_add', product_id=product.id) }}" method="post">
        <button class="btn primary"
            {% if product.stock|int <= 0 %}disabled{% endif %}>
            {% if product.stock|int > 0 %}
                Додади во кошничка
            {% else %}
                Нема во залиха
            {% endif %}
        </button>
    </form>

        </div>
    </div>

    <div class="product-details">
        {% if product.ai_description %}
        <h2>Дескрипција</h2>
        <pre class="pre">{{ product.ai_description | safe }} <br><br>Направено со GeminiAI АПИ</pre>
        {% endif %}

        {% if product.notes %}
        <h2>Забелешки</h2>
        <pre class="pre">{{ product.notes }}</pre>
        {% endif %}
    </div>

    <div class="product-actions">
        <a class="btn edit" href="{{ url_for('product_edit', product_id=product.id) }}">Промени</a>
        <form method="post" action="{{ url_for('product_delete', product_id=product.id) }}" onsubmit="return confirm('Избриши?');">
            <button class="btn danger" type="submit">Избриши</button>
        </form>
    </div>
</div>

<section class="recommended-section">
    <h2 class="section-title">Препорачани продукти</h2>

    <div class="recommended-bar">
        {% for product in recommended %}
        <div class="recommended-item">
            <img src="{{ product.image_url }}" alt="{{ product.name }}">

            <div class="product-info">
                <h3>{{ product.name }}</h3>
                <p class="price">{{ product.price }} $ </p>

                <div class="locked-actions">
                    <a href="{{ url_for('product_detail', product_id=product.id) }}" class="btn small">
                        Видете детеали
                    </a>

                    <form action="{{ url_for('cart_add', product_id=product.id) }}" method="post">
        <button class="btn small"
                type="submit"
                {% if product.stock|int <= 0 %}disabled{% endif %}>
            {% if product.stock|int > 0 %}
                Ставете во кошничка
            {% else %}
                Нема во залиха
            {% endif %}
        </button>
</form>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}